* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}


.container {
  display: flex;
  align-items: center;
  flex-flow: column;
  margin-top: 50px;
  gap: 40px;
}

.player-table {
  display: flex;
  justify-content: center;
}

#playerOne-hud, #playerTwo-hud {
  display: flex;
  padding: 10px;
  border-radius: 15px;
  width: 300px;
  color: black;
}

#playerTwo-hud {
  justify-content: end;
}

#game-board {
  display: flex;
  flex-flow: wrap;
  width: 300px;
}

.grid {
  width: 100px;
  height: 100px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  cursor: pointer;
}